@keyframes moveToRight {
    from {
        color: red;
    }
    50% {
        color: blue;
    }
    to {
        color: yellow;
        transform: translateX(300px);
    }
}

#test1 {
    animation: moveToRight 2s; /* animation-duration */
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    animation-play-state: running;
    animation-fill-mode: backwards;
    color: black;
}

#test2 {
    color: black;
    transform: rotateX(90deg)
}