button {
    background-color: transparent;
    border: none;
}

header {
    display: flex;
    height: 64px;
}

#logo {
    height: 30px;
    align-self: center;
    cursor: pointer;
}

#little-search {
    display: flex;
    padding: 0 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    min-width: 330px;
    height: 48px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 
                0 4px 12px rgb(0 0 0 / 5%);
}

.little-search_button {
    display: block;
    padding: 0 16px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: rgb(34, 34, 34);
}

.little-search_button:nth-of-type(3) {
    color: #717171;
}

.divider {
    flex-basis: 1px;
    flex-shrink: 0;
    background-color: #DDDDDD;
    height: 24px;
}

#magnifying-glass-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF385C;
    flex-basis: 32px;
    flex-shrink: 0;
    height: 32px;
    border-radius: 50%;
}

#magnifying-glass-icon {
    width: 12px;
}